.gradle

.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/jpa-buddy-datasource.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml

.vscode
/build
fba.json