.gradle

.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/jpa-buddy-datasource.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/modules/GAWEAN.main.iml
.idea/modules/GAWEAN.test.iml
.idea/modules.xml
.idea/Project_Default.xml

.vscode
/build
fba.json