{{#> base}}
    <div class="header">
        <img src="https://storage.bluhabit.id/assets/logo-uwang.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=OZVLVBYU7VKT2ECPDM8H%2F20231226%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231226T131758Z&X-Amz-Expires=604800&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJPWlZMVkJZVTdWS1QyRUNQRE04SCIsImV4cCI6MTcwMzYwNTkwNiwicGFyZW50IjoiYmx1aGFiaXQifQ.XeShptmdFwXY6MrA8TVt-M4GfRgI5uC7lsXMaR8XgOvpxV7Yyi8KJig3o655h3wlURryLnGBs1RpsrToN1t3Fw&X-Amz-SignedHeaders=host&versionId=null&X-Amz-Signature=8cf3886103c295bc756364ea926af2d9d6d01ac97933e80ec0b464a13ad646b3" class="logo" />
    </div>
    <p>Halo {{name}}</p>
    <p class="text">
        Terima kasih telah mendaftar di Uwang! Untuk
        menyelesaikan proses pendaftaran, kami memerlukan
        verifikasi menggunakan kode OTP (One-Time Password)
        berikut
    </p>

    <div class="numberOtp-wrapper">{{otp_code}}</div>

    <p class="text">
        Mohon jangan berikan kode ini kepada siapapun,
        termasuk tim dukungan kami. Kode ini hanya berlaku
        untuk anda dan akan kedaluwarsa dalam 5 menit.
    </p>
    <p class="text">
        Kunjungi halaman pendaftaran di aplikasi Uwang dan
        gunakan kode OTP ini untuk mengatur ulang kata sandi
        akun Anda.
    </p>
    <p class="text">
        Jika Anda tidak merasa melakukan permintaan ini,
        silakan abaikan email ini. Pastikan akun Anda tetap
        aman dengan tidak memberikan informasi pribadi kepada
        pihak lain.
    </p>
    <p class="text">
        Salam hangat, <br />
        <span class="text-greeting">Uwang</span>
    </p>
{{/base}}