<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{subject}}</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

        body {
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            font-family: 'Inter', sans-serif;
        }

        header h1 {
            text-align: left;
            font-weight: 600;
            font-size: 24px;
        }

        p {
            font-size: 12px;
            margin-bottom: 18px;
            line-height: 1.5;
            font-weight: 400;
        }

        h2 {
            font-size: 24px;
            color: #1041B7;
            font-weight: 600;
        }

        .text-bold {
            font-weight: bold;
            font-weight: 500;
        }

        .logo {
            margin: 0 auto;
            width: 100px;
            margin-top: 30px;
        }

        .konfirmation-page {
            width: 50%;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 12px;
        }

        .wrapper {
            margin-top: 20px;
            padding: 10px 20px;
        }

        .footer {
            text-align: center;
            padding-top: 7px;
        }

        .footer p {
            font-size: 12px;
            line-height: 1.5;
            margin: 0;
        }

        .footer p:first-child {
            background-color: #E7ECF8;
            padding: 16px;
        }

        .footer p:last-child {
            background-color: #1041B7;
            padding: 10px;
            color: #fff;
            font-weight: 700;
        }

        @media (max-width: 768px) {
            .konfirmation-page {
                width: 90%;
            }
        }

        @media (max-width: 576px) {
            .konfirmation-page {
                width: 85%;
            }
        }

        @media (max-width: 375px) {
            .konfirmation-page {
                width: 80%;
            }
        }
    </style>
<body>
<main>
    <section class="logo">
        <img src="https://bluhabit.id/assets/img/logo-uwang.png" alt="logo-uwang">
    </section>
    <section class="konfirmation-page">
        <div class="wrapper">
            <header>
                <h1>Konfirmasi Kode OTP</h1>
            </header>
            <p>Halo sobat Uwang,</p>
            <p>Untuk melanjutkan proses pembuatan akun kamu, harap gunakan kode OTP berikut:</p>
            <h2>{{otp}}</h2>
            <p>Kode akan kedaluwarsa dalam 5 menit.</p>
            <p>
                    <span class="text-bold">
                        Mohon jangan berikan kode ini kepada siapapun, termasuk tim kami.
                    </span>
            </p>
            <p>Jika kamu tidak melakukan pendaftaran ini, mohon abaikan emali ini demi keamanan data diri Anda.
                Untuk
                bantuan, hubungi <a href="">support@uwang.id.</a></p>
            <p>Salam hangat, <br> <span class="text-bold">Uwang</span></p>
        </div>
        <footer class="footer">
            <p>Ini adalah email otomatis. Mohon untuk tidak membalas email ini.</p>
            <p>Uwang &#169; 2024</p>
        </footer>
    </section>
</main>
</body>
</html>
