<!--
  ~ Copyright © 2023 Blue Habit.
  ~
  ~ Unauthorized copying, publishing of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  -->
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<div>Welcome <b th:text="${user}"></b></div>

<div> Your username is <b th:text="${link}"></b></div>
</body>
</html>