{{#> base}}
    <div class="header">
        <img src="img/logo-uwang.png" class="logo" />
    </div>
    <p>Halo {{name}}</p>
    <p class="text">
        Terima kasih telah mendaftar di Uwang! Untuk
        menyelesaikan proses pendaftaran, kami memerlukan
        verifikasi menggunakan kode OTP (One-Time Password)
        berikut
    </p>

    <div class="numberOtp-wrapper">{{otp_code}}</div>

    <p class="text">
        Mohon jangan berikan kode ini kepada siapapun,
        termasuk tim dukungan kami. Kode ini hanya berlaku
        untuk anda dan akan kedaluwarsa dalam 5 menit.
    </p>
    <p class="text">
        Kunjungi halaman pendaftaran di aplikasi Uwang dan
        gunakan kode OTP ini untuk mengatur ulang kata sandi
        akun Anda.
    </p>
    <p class="text">
        Jika Anda tidak merasa melakukan permintaan ini,
        silakan abaikan email ini. Pastikan akun Anda tetap
        aman dengan tidak memberikan informasi pribadi kepada
        pihak lain.
    </p>
    <p class="text">
        Salam hangat, <br />
        <span class="text-greeting">Uwang</span>
    </p>
{{/base}}