@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media only screen and (max-width: 620px) {
  * {
    font-family: 'Inter', sans-serif;
  }

  .body-style {
    background-color: #f6f6f6;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
}

.logo-column {
  text-align: left; 
}

.text-column {
  text-align: right;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
}

.logo-column {
  grid-column: 1; 
}

.text-column {
  grid-column: 2; 
}

.card-bottom {
  background-color: white;
  border-radius: 12px;
  padding: 10px 25px;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto; 
  gap: 10px;
}

.card-regards {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.content {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 580px;
  padding: 10px;
}

.card{
  background-color: white;
  border-radius: 12px;
  padding:10px 25px;
}
.card-title{
  font-weight: bold;
  font-size: 18px;
}
.card-footer{
  display: flex;
  flex:row;
  align-items: center;
}

.text-style{
  line-height: 1.6;
}

img.founder{
  width : 24px;
  height: 24px;
}
.padding-right{
  padding-right: 10px;
}
.text-center{
 text-align: justify;
}
.text12{
  font-size: 12px
}
.text14{
  font-size: 14px
}
.text18{
  font-size: 18px
}
.bold{
  font-weight: bold
}
b{
  color: gray;
}
.margin-bottom{
  margin-bottom:25px;
}
.card-point {
  display: flex;
  align-items: center;
}

.card-point img {
  padding-right: 10px;
  width: 24px;
  height: 24px;
}

button{
  background-color: #1041B7;
  color: white;
  border-radius: 12px;
  padding: 10px;
  border : 0;
}
.point-number,.block{
  display: block;
  direction: column
}
.justify-evenly{
  justify-content:space-between
}
.footer {
  clear: both;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.footer-bg {
  background-color: #1041B7;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
}
